
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 940px;       
  margin: 0 auto;         
}


.sobre h2 {
  color: #3D3D3D;
  background-color: #E1EDF2;
  padding: 10px;          
}


h2 {
  border-bottom: 2px solid #ccc;
}


.imagem {
  display: block;
  margin: 30px auto;      
  background-color: whitesmoke;
  padding: 15px;          
}


.legenda {
  text-align: center;
  color: lightgrey;
  font-style: italic;
  margin-top: 10px;       
}
